body {
  background-color: #f9f7f7;
  font-family: "Noto Sans", sans-serif;
}

.custom-navbar {
  background-color: #f9f7f7 !important;
  padding: 10px 0;
}

.custom-width {
  text-align: center;
}

.hover-underline {
  position: relative;
  text-decoration: none;
}

.hover-underline::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 3px;
  bottom: 0;
  left: 0;
  background-color: #000;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (min-width: 992px) {
  .custom-navbar {
    height: 80px;
  }
}

.hero-row {
  height: 91vh;
}

.custom-btn {
  background-color: #17c016;
  color: black;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  font-size: 1.25rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}
.custom-btn:hover {
  background-color: #12a812;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translateY(-2px);
}

#experience {
  background-color: #dbe2ef;
}

.card {
  border: none;
  padding: 20px;
  border-radius: 12px;
}

.tech-icon {
  transition: transform 0.3s ease, filter 0.3s ease;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
}

.tech-icon img {
  margin-bottom: 10px;
}

.tech-icon p {
  font-size: 1rem;
  font-weight: bold;
}

.tech-icon:hover {
  transform: scale(1.2);
  filter: drop-shadow(2px 2px 5px rgba(0, 0, 0, 0.2));
}

/* Timeline Styles */
.timeline {
  position: relative;
  padding-left: 30px;
}

.timeline-item {
  position: relative;
  margin-bottom: 20px;
  padding-left: 30px;
}

.timeline-icon {
  font-size: 24px;
  position: absolute;
  left: -30px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.timeline-content {
  background-color: #f8f9fa;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.timeline-content h5 {
  font-weight: bold;
}

.timeline-content p {
  color: #6c757d;
}

.timeline-content p.text-muted {
  font-size: 0.9rem;
}

/* Styling for the View All link */
.card-body .d-flex a {
  color: #000000;
  /* font-weight: bold; */
  text-decoration: none;
}

#projects .card:hover,
.custom-card-bg:hover,
.timeline-content:hover {
  background-color: #dbe2ef;
  transform: translateY(-10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/*----------------------------- ABOUT PAGE ----------------------------- */

.custom-card-bg {
  background-color: #f8f9fa;
}

/*----------------------------- CONTACT PAGE ----------------------------- */

.icon {
  transition: transform 0.3s ease-in-out;
  filter: brightness(0) saturate(100%);
}

.facebook {
  filter: brightness(0) saturate(100%) invert(32%) sepia(90%) saturate(2104%)
    hue-rotate(199deg) brightness(95%) contrast(90%);
}

.github {
  filter: brightness(0) saturate(100%) invert(11%) sepia(6%) saturate(746%)
    hue-rotate(314deg) brightness(97%) contrast(90%);
}

.linkedin {
  filter: brightness(0) saturate(100%) invert(34%) sepia(95%) saturate(700%)
    hue-rotate(182deg) brightness(88%) contrast(95%);
}

.icon:hover {
  transform: scale(1.1);
}
